body {
    background-color: lightblue;
}

h1 {
    display: flex;
    justify-content: center;
}

ul.stops-display {
    list-style-type: none;
}

label, select {
    margin-right: 10px;
}

div.selection {
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}